.. _requirements:

====================
System Requirements
====================

The following system requirements apply to the |GPASDK| only. For a full list of system requirements please refer to the system requirements and Supported Platforms section of the Release Notes `Intel(R) GPA Release Notes <https://www.intel.com/content/www/us/en/developer/articles/release-notes/intel-gpa-current-release-notes.html>`_

Hardware Requirements
======================

|GPASDK| collects the maximum number of metrics on Intel\ :sup:`®`\ hardware. |GPASDK| can work on third party graphics vendor hardware, but such vendors are not officially supported.

Software Requirements
======================

- Visual Studio 2019* or Visual Studio 2022*
- CMake* (3.13+)
- Python* 3.7+
- Windows 10 SDK* (10.0.17763.0) for Desktop C++
- Vulkan SDK*

.. note::

   The capture layer supports only 64 bit applications. The injection mechanism works in 32 bit processes to enable capturing for applications that require launchers in 32 bit.

.. _supported_graphics_apis:

Supported Graphics APIs
========================

- Vulkan*
- DirectX* 11
- DirectX* 12

.. note::

   The current level of support varies for different graphics APIs. For a more complete matrix of feature level support, see the :ref:`features` page.

.. include:: aliases.rst
